:root {
  --primary-color: #00a63f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
}
a {
  text-decoration: none;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
li {
  list-style: none;
}
/* common */

/* Header */
.header {
  position: fixed;
  z-index: 10;
}
.mobile-btn {
  /* background-color: rgba(0, 0, 0, 0.7); */
}
.header.active {
  background-color: #151421;
  transition: all 0.5s;
}
.navbar {
  position: relative;
  background-color: transparent !important;
  border-bottom: 1px solid #686666;
  z-index: 10;
}
.navbar-nav {
}
/*  */
.navbar-icon {
  font-size: 30px;
  font-weight: 800;
  color: var(--primary-color);
  margin-top: 5px;
}

.navbar-text {
  color: #fff;
  margin-left: 5px;
}

.navbar-title {
  font-size: 24px;
  font-weight: 700;
}
.navbar-desc {
  font-size: 14px;
  font-weight: 200;
  margin: 5px 0 0 3px;
}
.nav-link {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  margin: 0 10px;
}

.nav-link:hover::before {
  width: 100%;
  transition: all 0.5s;
}
.nav-link:hover {
  color: var(--primary-color) !important;
}
.nav-link::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 2px;
  background-color: var(--primary-color);
  width: 0;
  height: 2px;
}
.dropdown-item {
  margin: 5px 0;
  position: relative;
}
.dropdown-item::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.5s;
}
.dropdown-item:hover::after {
  width: 100%;
}
.dropdown-item:hover {
  color: var(--primary-color);
}
.navbar-search {
  cursor: pointer;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
}
/* Carousel */
.carousel {
  height: 750px;
}
.carousel-bg {
}

/* img {
  position: relative;
}
 img::before{
content: "";
display: inline-block;
position: absolute;
inset: 0  ;

background-color: rgba(29, 42, 55, 0.8);
background-color: red;
} */
.over-lay {
}
.carousel-control-next,
.carousel-control-prev {
  display: flex;
  align-items: end;
  position: absolute;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  right: 0 !important;
  display: flex;
  justify-content: start;
  width: 0 !important;
  z-index: 3;
  opacity: 1;
}

.carousel-control-prev {
  left: inherit;
  margin: 0 75px;
}

.arrow-right,
.arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -100px;
  bottom: 21px;
  background-color: #000 !important;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: -10;
}
/* .carousel-content {
  display: inline-block;
  z-index: 3;
} */
.carousel-content {
  display: block;
}
.carousel-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  inset: 0;
  background-color: rgba(29, 42, 55, 0.8);
}
.carousel-heading {
  position: absolute;
  top: 25%;
  left: 7%;
  color: #fff;
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  font-weight: 600;
  width: 900px;
}
.carousel-desc {
  position: absolute;
  top: 43%;
  left: 7%;

  color: #fff;
  width: 750px;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.9;
}
.carousel-btn {
  position: absolute;
  top: 55%;
  left: 7%;

  outline: none;
  border: none;
  padding: 16px 24px;
  background-color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  z-index: 5;
  transition: all 0.5s;
}
.carousel-btn:hover {
  background-color: #005a22;
}
/* About Home HTML */
.about {
  background-color: #151421;
  padding: 70px 0;
}
.about-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -384px;
  z-index: 1;
}

.about-left,
.news-left {
  color: #fff;
}
.about-title,
.news-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;

  color: #7e7d7d;
  display: block;
}
.about-heading,
.news-heading {
  font-size: 35px;
  line-height: 45px;
  width: 550px;
  margin-top: 10px;
  font-weight: 700;
}
.about-desc,
.news-desc {
  width: 580px;
  margin: 20px 0;
  color: #c2c2c2;
  line-height: 1.6;
}
.about-list {
  margin-top: 10px;
}

.about-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.about-icon {
  margin-right: 5px;
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.about-media {
  gap: 20px;
}
.about-img {
  width: 100%;
  border-radius: 12px;
}
.about-img:nth-child(2) {
  margin-top: 20px;
}
/* News */
.news {
  background-color: #100f19;
  padding: 70px 0;
}
.news-content {
  display: flex;
  justify-content: space-around;
}
.news-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.news-item {
  background-color: #151421;
  padding: 40px 90px;
  text-align: center;
  transform: translateY(0);
  transition: all 0.5s;
}
.news-item:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
}
.news-btn {
  color: #fff;
  display: inline-block;
  padding: 16px 28px;
  background-color: var(--primary-color);
  border-radius: 8px;
  transition: all 0.5s;
}
.news-sub {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #eee;
}
.news-btn:hover {
  background-color: #005a22;
}

/* Services Page Home */
.services {
  padding: 70px 0;
  background-color: #151421;
}
.services-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #fff;
}
.inner-services {
  margin-top: 20px;
  color: #fff;
}
.services-item {
  width: 370px;
  text-align: center;
  padding: 20px;
}
.services-item:hover .services-title {
  color: var(--primary-color);
}

.services-img {
  /* width: 370px;
  height: 250px; */
  width: 100%;
  cursor: pointer;
}
.services-title {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  background: #151421;
  padding: 12px 35px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  transform: translateY(-25px);
  /* box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px; */
  transition: all 0.5s;
  cursor: pointer;
}
.services-sub {
  line-height: 24px;
  color: #c2c2cc;
}
.services-btn {
  margin-top: 15px;
  display: block;
  font-weight: 600;
  color: #eee;
}
.services-btn:hover {
  color: var(--primary-color);
}
/* Gallery Page Home */

.gallery {
  padding: 70px 0;
  background-color: #100f19;
}
.inner-gallery {
  text-align: center;
}

.gallery-title {
  color: #7e7d7d;
  font-size: 14px;
}
.gallery-heading {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #eee;
}
.gallery-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
.gallery-item {
  /* padding: 40px; */
  position: relative;
  width: 370px;
  height: 270px;
  padding: 0;
  overflow: hidden;
}
.gallery-item:hover .gallery-text {
  transform: translateY(0);
}
.gallery-item:hover .gallery-desc {
  transform: translateY(0);
}
.gallery-item:hover .gallery-content {
  opacity: 1;
  visibility: visible;
}
.gallery-img {
  width: 100%;
}
.gallery-content {
  position: absolute;
  inset: 0;
  color: #fff;
  background-color: rgba(29, 42, 55, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.gallery-text {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 30px;
  bottom: 100px;
  transition: all 0.5s;
}
.gallery-desc {
  position: absolute;
  font-size: 14px;
  left: 30px;
  bottom: 70px;
  transition: all 0.5s;
}
.gallery-text,
.gallery-desc {
  transform: translateY(200px);
}
.gallery-logos {
  margin: 70px 0 0 0;
  padding: 45px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.gallery-item-logo {
  margin: 0 20px;
}
.gallery-logo {
  width: 170px;
  height: 86px;
}
/* Success */
.success {
  padding: 70px;
  background-color: #151421;
}
.success-heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #7e7d7d;
}
.success-desc {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}
.success-content {
  margin-top: 10px;
  color: #fff;
  position: relative;
}
.success-title,
.success-title2,
.success-title3,
.success-title4 {
  font-size: 20px;
}
.success-number,
.success-number2,
.success-number3,
.success-number4 {
  font-size: 18px;
  position: absolute;
  right: 120px;
}
.success-number2 {
  right: 28px;
}
.success-number3 {
  right: 250px;
}
.success-number4 {
  right: 88px;
}
.success-item + .success-item {
  margin: 50px 0 0 0;
}
.success-progress,
.success-progress2,
.success-progress3,
.success-progress4 {
  margin-top: 10px;
  position: relative;
}
.success-progress::before,
.success-progress::after,
.success-progress2::before,
.success-progress2::after,
.success-progress3::before,
.success-progress3::after,
.success-progress4::before,
.success-progress4::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 3px;
}
.success-progress::before {
  background-color: #0d8abc;
  width: 80%;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}
.success-progress::after,
.success-progress2::after,
.success-progress3::after,
.success-progress4::after {
  width: 20%;
  background-color: #404040;
  right: 0;
}
.success-progress2::before {
  width: 95%;
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
}
.success-progress2::after {
  width: 5%;
}
.success-progress3::before {
  width: 60%;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}
.success-progress3::after {
  width: 40%;
}
.success-progress4::before {
  width: 85%;
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
}
.success-progress4::after {
  width: 15%;
}
.success-skeleton,
.success-skeleton2,
.success-skeleton3,
.success-skeleton4 {
  position: relative;
}
.success-skeleton::before,
.success-skeleton::after,
.success-skeleton2::before,
.success-skeleton2::after,
.success-skeleton3::before,
.success-skeleton3::after,
.success-skeleton4::before,
.success-skeleton4::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.success-skeleton::before,
.success-skeleton2::before,
.success-skeleton3::before,
.success-skeleton4::before {
  height: 13px;
  width: 13px;
  top: -5px;
  border: 3px solid #fff;
  right: 115px;
}
.success-skeleton::after,
.success-skeleton2::after,
.success-skeleton3::after,
.success-skeleton4::after {
  width: 28px;
  height: 28px;
  top: -12px;
  right: 107px;
  border: 1px solid #fff;
  opacity: 0.3;
}
.success-skeleton2::before {
  right: 20px;
}
.success-skeleton2::after {
  right: 13px;
}
.success-skeleton3::before {
  right: 243px;
}
.success-skeleton3::after {
  right: 235px;
}
.success-skeleton4::before {
  right: 82px;
}
.success-skeleton4::after {
  right: 75px;
}
/* Feedback */
.feedback {
  padding: 70px 0 120px;
  background-color: #100f19;
}
.feedback-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #7e7d7d;
  text-align: center;
}
.feedback-heading {
  text-align: center;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}
.feedback-desc {
  font-size: 18px;
  line-height: 28px;
  color: #c2c2c2;
  opacity: 0.8;
  width: 796px;
  text-align: center;
  display: block;
  margin: 70px auto 0;
}
.feedback-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto 0;
  text-align: center;
}
.feedback-img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback-info {
  margin: 15px 0 0 10px;
}
.feedback-name {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.feedback-education {
  opacity: 0.8;
  color: #c2c2c2;
  margin-top: 5px;
  text-align: start;
}
.slick-dots li button::before {
  margin-top: 70px;
  color: #213364 !important;
  opacity: 0.3;
  font-size: 15px;
}
/* Startup*/
.startup {
  background-color: #151421;
  padding: 70px 0;
}
.inner-startup {
}
.startup-sub {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #7e7d7d;
  text-align: center;
}
.startup-desc {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.startup-heading {
  font-weight: 400;
  font-size: 17px;
  color: #999;
  margin-top: 20px;
  padding: 0 20px;
  transition: all 0.5s;
}
.startup-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
  margin: 10px 0 10px;
  padding: 0 20px;
}
.startup-list {
  column-gap: 25px;
  margin-top: 25px;
}
.startup-item {
  width: 370px;
  height: 450px;
  border: 1px solid #fff;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}
.startup-item:hover .startup-img {
  outline: none !important;
  border: none !important;
}
.startup-item:hover .startup-heading {
  color: var(--primary-color);
}
.startup-img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}

.startup-content {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 15px 20px 20px;
  border-top: 1px solid #c2c2c2;
}
.startup-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.startup-name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.startup-name span {
  font-size: 15px;
  color: #c2c2c2;
  font-weight: 600;
  opacity: 0.6;
}
.startup-date {
  font-size: 15px;
  margin-left: 90px;
  color: #c2c2c2;
  opacity: 0.8;
}
/* Find Page Home */
.find {
  background-image: url(../images/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 0;
  display: block;
  border: none;
}
.find-inner {
  color: #fff;
}
.find-heading {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
}
.find-desc {
  line-height: 27px;
  opacity: 0.8;
  width: 590px;
  margin: 0 auto;
  color: #c2c2c2;
  text-align: center;
}
.find-form {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.find-icon {
  color: #999;
  padding: 13px;
  border: 1px solid rgb(255, 255, 255, 0.1);
  margin: 0;
}
.find-input {
  padding: 10px;
  width: 375px;
  background-color: transparent !important;
  border: none;
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.1);
  margin: 0;
  color: #fff;
}

.find-btn {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 0 8px 8px 0;
  padding: 14px 24px;
  font-weight: 600;
  color: #fff;
}
/* Footer */
.footer {
  padding: 70px 0 30px 0;
  background-color: #151421;
}
.footer-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.footer-text {
  margin: 0 0 0 12px;
  font-size: 34px;
  font-weight: 600;
  color: #fff;
}
.footer-desc {
  text-transform: none;
  display: block;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
  margin: 0 0 0 12px;
  color: #fff;
}

.footer-icon {
  margin-top: -32px;
  font-size: 30px;
  font-weight: 800;
  color: var(--primary-color);
}
.footer-title {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin: 20px 0;
}
.footer-social {
  margin: 0 10px;
}
.footer-social span {
  font-size: 18px;
  color: #97a1a9;
}
.footer-heading {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
}
.footer-sub {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin-bottom: 8px;

  /* display: inline-block; */
}
.footer-item:last-child {
  /* width: 150px; */
}
/* Back To Top */
.back-to-top {
  font-weight: 600;
  color: #fff;
  background: var(--primary-color);
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
}
.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.back-to-top:hover {
  color: #fff;
}
/* About Page */
.carousel-page {
  background: url("../images/b1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 390px;
  position: relative;
  z-index: 0;
}
.carousel-overlay-page {
  background: rgba(29, 42, 55, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.carousel-content-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.carousel-heading-page {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.carousel-desc-page {
  margin-top: 20px;

  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}
/* Company page About */
.company {
  padding: 70px 0;
  background-color: #151421;

  z-index: -1;
}
.company-left {
  position: relative;
  z-index: 1;
}
.company-img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: 2;
  position: relative;
}
.company-shape {
  position: absolute;
  border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 500px;
  background: #064a26;
  top: 0;
  left: 0;
  z-index: 1;
}
.company-content {
  background-color: #009f4d;
  color: #fff;
  position: absolute;
  right: 145px;
  bottom: 10px;
  padding: 14px 64px 34px 30px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  border-radius: 8px;
  min-height: 200px;
  transform: rotate(45deg);
  text-align: center;
  z-index: 2;
}
.company-text {
  transform: rotate(-45deg);
  margin: 25px auto 0;
}
.company-number {
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;

  padding: 0 0 10px 0;
}
.company-desc {
  color: #fff;
  font-size: 24px;
  width: 100px;
  margin: 0 auto;
  /* line-height: 28px; */
}
.company-right {
}
.company-sub {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #7e7d7d;
}
.company-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  margin-top: 15px;
}
.company-heading {
  font-size: 24px;
  font-weight: 400;
  color: #eee;
  margin: 40px 0;
  line-height: 28px;
}
.company-descs {
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
  width: 565px;
}
.company-media {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.company-btn {
  display: inline-block;
  margin-right: 20px;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 8px;
  color: #fff;
  background-color: #009f4d;
  cursor: pointer;
}
.company-btn:hover {
  color: #fff;

  background-color: #008030;
  border-color: #00732c;
}
.company-video {
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  color: transparent;
  border: 3px solid var(--primary-color);
  cursor: pointer;
}
.company-play,
.business-icon {
  font-size: 28px;
  padding: 18px 0 0 5px;
  color: var(--primary-color);
}
.company-bottom {
  margin-top: 100px;
  column-gap: 20px;
}

.company-item {
  width: 369px;
  height: 195px;
  padding: 50px 35px;
  z-index: 1;
  border-radius: 8px;
  background-color: #100f19;
  display: grid;
  grid-auto-flow: column;
  /* grid-gap: 20px; */
  color: #fff;
}
.company-item:hover .company-bottom-heading {
  color: var(--primary-color);
}
.company-bottom-icon {
  font-size: 38px;
  /* width: 40px; */
  color: var(--primary-color);
  margin-right: 20px;
}

.company-bottom-content {
}
.company-bottom-heading {
  display: block;
  color: #eee;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.company-bottom-desc {
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
}
/* Design page About */
.design {
  padding: 70px 0;
  background-color: #100f19;
}
.design-sub {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #7e7d7d;
}
.design-title {
  margin: 20px 0 80px 0;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}
.design-number {
  color: var(--primary-color);
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}
.design-text {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
}
.design-desc {
  width: 265px;
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
}
.design-media {
}
.design-img {
  width: 269px;
  height: 403px;
  border-radius: 20px;
  object-fit: cover;
}
.business {
  background: url("../images/business-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
}
.business::before {
  content: "";
  position: absolute;
  display: inline-block;
  inset: 0;
  background-color: rgba(29, 42, 55, 0.8);
}
.business-content {
  position: relative;
  text-align: center;
}
.business-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 700px;
}
.business-desc {
  color: #eee;
  margin-top: 16px;
  line-height: 27px;
  font-size: 17px;
  opacity: 0.8;
  width: 700px;
}
.business-play {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: 26px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  color: transparent;
  border: 3px solid #fff;
  cursor: pointer;
}
.business-icon {
  color: #fff;
}
/* Professional */
.professional {
  padding: 70px 0;
  background-color: #151421;
}
.professional-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  text-align: center;
}
.professional-heading {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.professional-list {
  margin-top: 40px;
}
.professional-item {
  width: 270px;
  height: 400px;
}
.professional-media {
  position: relative;
}
.professional-img {
  width: 100%;
  border-radius: 8px;
}

.professional-media:hover .professional-overlay {
  opacity: 1;
}
.professional-media:hover .professional-content {
  transform: translateY(0);
}
.professional-overlay {
  position: absolute;
  display: inline-block;
  transition: all 0.5s;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  inset: 0;
  opacity: 0;
  background-color: rgba(20, 20, 20, 0.7);
  overflow: hidden !important;
}
.professional-content {
  transform: translateY(230px);
  transition: all 0.3s;
}
.professional-socials {
  margin-top: 25px;
  column-gap: 20px;
}
.professional-social {
  color: #fff;
  line-height: 37px;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  transition: all 0.2s;
  text-align: center;
}
.professional-social:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.professional-desc {
  width: 216px;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.8;
  color: #c2c2c2;
}
.professional-name {
  margin: 25px 0 5px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.professional-work {
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
  text-align: center;
}
/* Choose */
.choose {
  padding: 70px 0px;
  background-color: #100f19;
}
.solution-list {
  display: flex;
  justify-content: space-between !important;
}
.choose-title,
.check-title,
.solution-title,
.contact-title,
.result-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  text-align: center;
}
.choose-heading,
.check-heading,
.solution-heading,
.result-title,
.result-heading {
  width: 704px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.choose-list {
  margin-top: 40px;
}
.choose-item {
  display: flex;
  align-items: center;
}
.choose-item:nth-child(1) {
  margin-bottom: 30px;
}
.choose-icon {
  font-size: 34px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.choose-bag {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.choose-search {
  color: #ff4c4c;
  border: 1px solid #ff4c4c;
}
.choose-setting {
  color: #213364;
  border: 1px solid #213364;
}
.choose-chart {
  color: #f48924;
  border: 1px solid #f48924;
}
.choose-content {
  margin-left: 48px;
}
.choose-text {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}
.choose-desc {
  width: 436px;
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
}
/* Talk */
.talk {
  padding: 70px 0;
  background-color: #151421;
  border-bottom: 1px solid rgba(249, 249, 249, 0.1);
}
.talk-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.talk-left {
  grid-column: 1/3;
}
.talk-heading {
  width: 700px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
}
.talk-desc {
  width: 700px;

  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
}
.talk-right {
}
.talk-btn {
  display: inline-block;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--primary-color);
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 8px;
  color: #fff;
}
.talk-icon {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}
.talk-btn:hover {
  color: #fff;
  background-color: #00732c;
}
.footer-corp {
  padding: 60px 0 0 0;
  margin-top: 70px;
  color: #c2c2c2;
  text-align: center;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer-corp span {
  color: var(--primary-color);
}
/* Page Services */
.check {
  padding: 70px 0;
  background-color: #100f19;
}
.check-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.check-item {
  padding: 45px 50px;
  width: 570px;
  height: 376px;
  background-color: #151421;
}
.check-icon {
  margin: 0 auto;
  display: block;
}
.check-sub {
  margin: 16px 24px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  text-align: center;
}
.check-desc {
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
  width: 470px;
  text-align: center;
}
.check-img {
  width: 570px;
  height: 376px;
  object-fit: cover;
  padding: 0;
}
.check-btn {
  width: 189px;
  height: 50px;
  padding: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  display: block;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  margin: 25px auto 0;
  text-align: center;
}
.check-btn:hover {
  color: #fff;
  background-color: #008030;
}
/* Solution Page Services */
.solutions {
  padding: 70px 0;
  background-color: #151421;
}
.solution-list {
  margin-top: 40px;
  gap: 20px;
}
.solution-item {
  display: flex;
  width: 370px;
  height: 195px;
  background-color: #100f19;
  padding: 50px 35px;
  border-radius: 8px;
}
.solution-content {
  margin-left: 20px;
}
.solution-sub {
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
}
.solution-desc {
  width: 240px;
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
}
.solution-icon {
  font-size: 38px;
  width: 40px;
  color: var(--primary-color);
}
/* Contact Page Services */
.contact {
  padding: 70px;
  background: url("../images/business-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 0;
  position: relative;
}
.contact::before {
  content: "";
  display: inline-block;
  position: absolute;
  inset: 0;
  background-color: rgba(29, 42, 55, 0.8);
}
.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-left {
  z-index: 2;
}
.contact-title {
  text-align: start;
  color: #fff;
  opacity: 0.8;
}
.contact-heading {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  margin: 8px 0 0;
  width: 537px;
  text-align: start;
}
.contact-item {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #fff;
}
.contact-item:last-child {
  border-bottom: none;
}
.contact-text {
  margin-left: 20px;
}
.contact-icon {
  font-size: 40px;
  color: #fff;
}
.contact-sub {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  color: #fff;
}
.contact-desc {
  width: 467px;
  color: #eee;
  margin-top: 10px;
  font-size: 18px;
  line-height: 27px;
  opacity: 0.8;
}
.contact-right {
  background-color: #151421;
  padding: 60px;
}
.contact-right-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
}
.contact-right-desc {
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  opacity: 0.8;
}
.contact-input,
.contact-area {
  margin-top: 20px;
  display: block;
  width: 450px;
  height: 60px;
  background-color: #100f19;
  outline: none;
  border: none;
  padding: 20px;
  color: #fff;
}
.contact-input + .contact-input {
  margin: 15px 0;
}
.contact-area {
  resize: none;
  height: 100px;
}
.contact-btn {
  margin-top: 15px;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  background-color: var(--primary-color);
}
.contact-btn:hover {
  background-color: #009f4d;
  color: #fff;
}
.result {
  padding: 70px 0;
  background-color: #100f19;
}
.result-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
}
.result-heading {
  width: 704px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
.result-list {
  margin-top: 40px;
  gap: 20px;
}
.result-item {
  width: 370px;
  height: 294px;
  background-color: #151421;
  padding: 40px 30px;
  border-radius: 8px;
  transition: all 0.8s;
}
.result-item:hover {
  transform: translateY(-8px);
}
.result-img {
  display: block;
  margin: 0 auto;
}
.result-sub {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin: 25px 0 16px;
  display: block;
  color: #fff;
  text-align: center;
  transition: all 0.8s;
  cursor: pointer;
}
.result-sub:hover {
  color: var(--primary-color);
}
.result-desc {
  width: 309px;
  font-size: 17px;
  line-height: 27px;
  color: #c2c2c2;
  opacity: 0.8;
  text-align: center;
}

/* Blog Page */

.page {
  margin: 0 0 1.5em;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #00000000;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.card:hover .card-img-top {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.card-img-top {
  cursor: pointer;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-footer {
  background: #fff;
  border-top: 1px solid #eee;
  padding: 0.75rem 1.25rem;
}

.brand-content {
  display: flex;
  gap: 5px;
  align-items: center;
}

.card-text {
  font-weight: 400;
  font-size: 17px;
  color: #999;
}

.card-title {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  margin-top: 10px;
}
a {
  font-size: 16px;
  color: var(--heading-color);
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
}

a:hover {
  color: #009f4d;
}
.pagination {
  gap: 7px;
}

.pagination-container {
  margin-top: 52x;
  margin-bottom: 92px;
}

.page-number {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  font-weight: 600;
  color: #000;
  border: 0.5px solid #bcc3bf;
}

.next,
.prev {
  width: 60px;
}

.current {
  background-color: #009f4d;
  color: #fff;
  border: 2px solid #009f4d;
}

/* End Blog Page */

/* 404 Page */

.breadcrumb-bg-about {
  background: url("../images/b1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.hero-overlay {
  background: rgb(62 70 78 / 80%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title-banner {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}

p.inner-page-para {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}

.main-cover {
  max-width: 850px;
  margin: auto;
}

.main-cover img {
  max-width: 80%;
}

.cover-para {
  font-size: 120px;
  line-height: 1;
  text-align: center;
  flex-basis: 100%;

  color: #009f4d;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
}
.error-title {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 36px;
  margin: 16px 0 18px 0;
}
.description {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}

.form-inline.search-form {
  position: relative;
}

.search-form .form-control {
  width: 100%;
  color: #666;
  background: #fff;
  padding: 12px 70px 12px 17px;
  font-size: 18px;
  height: 55px;
  border: 1px solid #eee;
  font-style: italic;
  display: block;
}

.search-form .btn.search {
  color: #fff;
  font-size: 16px;
  width: 60px;
  letter-spacing: 0px;
  border: none;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  display: inline-block;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #009f4d;
}

.back-button {
  font-weight: 600;
  font-size: 18px;
  color: #3f3a64;
}

/* End 404 Page */

/* Contact Page  */
.contact-main {
  background: #f8f9fa;
}
.information {
}

.information h3 {
  color: #3f3a64;
}
.information-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

.information-description {
}

/* .contacts {
  display: flex;
} */

.contact-container {
}

.icon-box {
  font-size: 40px;
  color: #3f3a64;
}
.text-box h3 {
  color: #3f3a64;
}
.contacts .card {
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
}
.card-text-contact {
}

.contact-main .map iframe {
  width: 100% !important;
  height: 400px !important;
}
.contact-main .from-top .from-top-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.contact-main .form-content .form-title h3 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
  color: #3f3a64;
}
/* Contact Page End */
